html {
	font-family: helvetica;
}
#title {
	display: flex;
	font-family: 'Lobster', cursive;
	color: black;
	justify-content: center;
	text-decoration: none;
}

#subtitle {
	display: flex;
	font-family: 'Roboto', sans-serif;
	color: black;
	justify-content: center;
}

hr {
	width: 50%;
	height 3px;
}

main {
	display: grid;
	justify-items: center;
	grid-template-rows: auto;
	grid-template-columns: auto;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
}

#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
filter: grayscale(90%);
}

#after-portrait {
	margin-top: 50px;
	height: 3px;
}

li {
	padding: 8px;
}

#tribute-info {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

footer {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#img-div {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#SubFooter {
	padding-top: 16px;
}

#Credit {
	background-color: black;
	color: white;
	font-family: Arial;
	text-align: center;
	height: 100px;
	width: auto;
}

#Message {
	padding-top: 40px;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
}